.navbar {
  justify-content: space-between;
}

a {
  color: #f3f3f3;
  padding-right: 2rem;
}
.logotype {
  display: flex;
}

.logoText {
  font-family: Lobster;
  margin-left: 0.5rem;
  color: #fff;
  font-size: 2rem;
}
